.infoCard {
    padding: 1rem;
}

.card-title{
    font-weight: 700;
}

.dniSeller{
    font-weight: 100;
}

.btn-custom {
    background-color: rgb(165, 68, 65);
    color: white;
    border-color: white;
}

.btn-custom:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(165, 68, 65);
    border: none;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 87, 51, 0.5);
    
}
.imgPlanes{
    padding: 0 8em 0 8em;
}

h1 {
    color: rgb(165, 68, 65);
}

.small-image {
    width: 100px; 
    height: auto; 
}